<div class="container-fluid col-md-12 mt-3">
  <h1>{{pageTitle}}</h1>
  <hr/>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+" placeholder="Name">
      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        El nombre no es valido
      </small>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname"  name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+" placeholder="Surname">
      <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
        Los apellidos no es valido
      </small>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El email no es valido
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" #password="ngModel" [(ngModel)]="user.password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" name="password" placeholder="Password">
      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
        El password no es valido
      </small>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Registrar</button>
  </form>
</div>
