<div class="col-md-12" *ngIf="!video">
  Cargando...
</div>

<div class="col-md-12" *ngIf="video">
  <section class="view intro-video">
    <div class="hm-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row pt-5 mt-3">
            <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
              <div class="white-text">
                <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">{{ video.title }}</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <p class="wow fadeInLeft" data-wow-delay="0.3s">{{ video.description }}</p>
                <span class="badge badge-secondary">{{ identity.name + ' ' + identity.surname }}</span>
              </div>
            </div>

            <div class="col-lg-6 wow fadeIn">
              <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IQyauRAxvjI"
                        allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
