<div class="container-fluid col-md-12 mt-3" *ngIf="identity">
  <h1>{{pageTitle}}</h1>
  <hr/>
</div>

<div class="container-fluid col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a Videos Favoritos!</h1>
    <p class="lead">Registrate en la web para guardar los videos favoritos de youtube y porder verlos cuando queiras.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Identíficate</a>
      <a class="btn btn-success btn-lg ml-3" [routerLink]="['/registro']" role="button">Regístrate</a>
    </p>
  </div>
</div>
