<div class="container-fluid col-md-12 mt-3" *ngIf="identity">
  <h1>{{pageTitle}}</h1>
  <hr/>

  <div class="card-columns">
    <div class="card" *ngFor="let video of videos">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a [routerLink]="['']" class="btn btn-success">Leer</a>
        <a [routerLink]="['']" class="btn btn-warning ml-3">Editar</a>
        <a [routerLink]="['']" class="btn btn-danger ml-3">Borrar</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a Videos Favoritos!</h1>
    <p class="lead">Registrate en la web para guardar los videos favoritos de youtube y porder verlos cuando queiras.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Identifícate</a>
      <a class="btn btn-success btn-lg ml-3" [routerLink]="['/registro']" role="button">Regístrate</a>
    </p>
  </div>
</div>
