<div class="container-fluid col-md-12 mt-3" *ngIf="identity">
  <h1>{{pageTitle}}</h1>
  <hr/>

  <div class="card-columns">
    <div class="card" *ngFor="let video of videos">
      <div class="video-image w-100" *ngIf="video.url">
        <img src="{{ getThumb(video.url) }}" class="card-img-top" alt="...">
      </div>
      <div class="video-image w-100" *ngIf="!video.url">
        <img src="{{ getThumb(video.url, 'default') }}" class="card-img-top">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <p class="card-text">{{video.description}}</p>
      </div>
      <div class="card-footer">
        <a [routerLink]="['']" class="btn btn-success">Leer</a>
        <a [routerLink]="['']" class="btn btn-warning ml-3">Editar</a>
        <a [routerLink]="['']" class="btn btn-danger ml-3">Borrar</a>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/inicio', prev_page]">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let num of number_pages">
        <a class="page-link" [routerLink]="['/inicio', num]">{{num}}</a>
      </li>

      <li class="page-item">
        <a class="page-link"[routerLink]="['/inicio', next_page]">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container-fluid col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a Videos Favoritos!</h1>
    <p class="lead">Registrate en la web para guardar los videos favoritos de youtube y porder verlos cuando queiras.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Identifícate</a>
      <a class="btn btn-success btn-lg ml-3" [routerLink]="['/registro']" role="button">Regístrate</a>
    </p>
  </div>
</div>
